<div class="form-container">
<div class="form-inner-container">
<%= form_with(model:@user, url: '/password/reset_password') do |form| %>

<%= flash[:notice] %>

<h3>Reset Password</h3>

<div class="field">
 <%= form.label :new_password %>
 <%= form.password_field :password %>
</div>

<div class="field">
 <%= form.label :confirm_password %>
 <%= form.password_field :password_confirmation %>
</div>

 <%= tag.span form.submit 'Reset Password', class:'submit_btn' %>

<% end %>
<div class="image_container">
<%= image_tag 'https://images.unsplash.com/photo-1676376327236-cd743ef57c36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNTJ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=700&q=60', style: "height: 350px" %>
</div>
</div>
</div>
